.App {
	text-align: center;
}

.garage-sale-head {
	background-color: #343a40;
	padding: 150px 0 50px 0;
}

.garage-sale-head h1 {
	font-weight: 900;
	font-size: 3rem;
	color: rgb(225, 221, 221);
	margin-bottom: 50px;
}

#cardImage {
	max-height: 200px;
	min-height: 200px;
	object-fit: contain;
}
